<h2>Pantry Inventory</h2>
<table>
  <tr>
    <th>Item</th>
    <th>Current Quantity</th>
    <th>Required Quantity</th>
    <th>Buy Quantity</th>
  </tr>
@for (item of pantryInventory(); track item.id) {
  <tr>
    <td class="item-column">{{item.name}}</td>
    <td>{{item.currentQty}}</td>
    <td>{{item.requiredQty}}</td>
    <td>{{calculateShortage(item.currentQty, item.requiredQty)}}</td>
    <td><button (click)="addToList(item.name, calculateShortage(item.currentQty, item.requiredQty))">Add to Grocery List</button></td>
  </tr>
}
</table>

@if (groceryList()) {
  <h3>Grocery List</h3>
  <table>
  <tr>
    <th>Item</th>
    <th>Buy Quantity</th>
  </tr>
@for (item of groceryList(); track item.itemName) {
  <tr>
    <td class="item-column">{{item.itemName}}</td>
    <td>{{item.buyQty}}</td>
    <td><button (click)="removeFromList(item.itemName )">Remove from List</button></td>
  </tr>
  }
  </table>
}

<hr>
